name: build_pdf

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs compiler
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: src/main.tex
          latexmk_use_lualatex: true

      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: main.pdf